// @import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

$white: #dddddd;
$background: #151419;
// $dark-background: #151719;
// $gray: #25282b;
// $yellow: #d39d15;
// $green: #33a018;
// $red: #b43d35;

* {
  margin: 0;
  padding: 0;

  line-height: 2;

  color: $white;
}


html, body, #app {
  width: 100vw;
  height: 100vh;
  
  margin: 0;
  padding: 0;
  
  /* font-family: 'Share Tech Mono', monospace;  */
  //   font-family: 'Share Tech Mono';
}

body {
  background-color: $background;
}